In [1]:
#파이썬 자료형

#정수형, 실수형
a=123
b=-123.4
a+b

-0.4000000000000057

In [2]:
#8진수로 계산
c=0o34
d=0o24
c+d

48

In [3]:
#16진수
e=0x2A
f=0xFF
e+f

297

In [6]:
#문자열
s="WiseInCompany"
s1='WiseInCompany'
s2='"WiseInCompany"'
s3="123"
print(s)
print(s1)
print(s2)
print(s3)
print(type(s3))

WiseInCompany
WiseInCompany
"WiseInCompany"
123
<class 'str'>

In [7]:
#문자열 연산하기
a="Wise"
b="InCompany"
print(a+b)
a="WiseInCompany"
print(a*2)

WiseInCompany
WiseInCompanyWiseInCompany

In [8]:
#문자열 인덱싱 및 슬라이싱
a="Wise IN Company"
print(a[3])
print(a[-3])
print(a[0:15])
print(a[4:])
print(a[0:4])

e
a
Wise IN Company
 IN Company
Wise

In [9]:
#리스트
a=[1,2,3,4,5]
print(a)

#리스트 인덱싱
a=[1,2,3,4,5]
print(a[0])
print(a[-1])

#리스트 슬라이싱
print(a[0:5])
print(a[:5])
print(a[2:])

[1, 2, 3, 4, 5]
1
5
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 4, 5]

In [10]:
#리스트 요소 추가/수정/삭제
a=[1,2,3,4,5]
a.append(6)
a[0]=0
del a[1]
print(a)

[0, 3, 4, 5, 6]

In [11]:
#리스트 병합 및 반복
a=[1,2]
b=[3,4,5]
c=a+b
print(c)
d=a*3
print(d)

[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2]

In [12]:
#튜플
t=(1,2,3,4,5)

#튜플 인덱싱 및 슬라이싱
t1=(1,2,3)
print(t[1])
print(t[0:3])

#튜플은 리스트와 비슷하지만 수정 불가능, ()으로 표현

2
(1, 2, 3)

In [16]:
a=(1,2)
b=(3,4,5)
c = a+b
print(d)
d=a*3
print(d)

[1, 2, 1, 2, 1, 2]
(1, 2, 1, 2, 1, 2)

In [18]:
#튜플 변수 할당
name = ("David","Kim")
print(name)
firstname, lastname = ("David","Kim")
print(lastname,",",firstname)

#한번에 두 변수에 값 할당 가능

('David', 'Kim')
Kim , David

In [19]:
#집합
set = {1,1,2,3}
print(set)

{1, 2, 3}

In [26]:
#집합 추가 및 삭제
set = {1,1,2,3}
set.add(4)
set

{1, 2, 3, 4}

In [32]:
#집합 추가 및 삭제2
set = {1,1,2,3}
set.update({4,5,6})
set

{1, 2, 3, 4, 5, 6}

In [33]:
#요소 하나 삭제
set.remove(1)
set

{2, 3, 4, 5, 6}

In [34]:
#모든 요소 삭제
set.clear()
set

set()

In [35]:
#집합 연산
a = {1,2,3}
b = {1,3,4}

#교집합
c = a&b
print(c)

#합집합
d = a|b
print(d)

#차집합
e = a-b
print(e)

{1, 3}
{1, 2, 3, 4}
{2}

In [1]:
#사전
test = {"Kim":90,"Jeong":80,"Park":75}
test["Kim"]

90

In [2]:
#사전 추가/수정/삭제
test = {"Kim":90,"Jeong":80,"Park":75}
test["Jeong"]=85
test["Cho"]=95
del test["Park"]
print(test)

{'Kim': 90, 'Jeong': 85, 'Cho': 95}

In [4]:
#키 또는 값 가져오기
test = {"Kim":90,"Jeong":80,"Park":75}
print(test.keys())
print(test.values())

dict_keys(['Kim', 'Jeong', 'Park'])
dict_values([90, 80, 75])

In [6]:
#if문
money = 4000
if money == 3000:
    print("KTX 타고가자")
elif money >= 5000:
    print("버스 타고가자")
        
else:
     print("걍 걸어가!")

걍 걸어가!

In [7]:
#반복문

#for ans

sum = 0 
for i in range(11):
    sum = sum + i
print(sum)

55

In [8]:
#for문 리스트 출력
list = ["Wise","In","Company"]
for s in list:
    print(s)

Wise
In
Company

In [9]:
#while문
i = 0 
while i<10:
    print(i)
    i = i +1

0
1
2
3
4
5
6
7
8
9

In [12]:
#while문 리스트 출력
food = ["apple","banana","bread"]
i = 0 
while i < len(food):
    print(food[i])
    i = i+1

apple
banana
bread